<!--
<table>
	<thead>
		<tr>
		<th> Comentarios: </th>
		<th> Tipo de comentario: </th>

		</tr>
	</thead>
	<tbody>

		<% @comentarios.each do |c| %>
		<tr>
		<td> <%= @comentario.descripcion %></td> 
		<td> <%= @comentario.type_coment %></td> 
		</tr>
		<% end %>

	</tbody>

</table> -->
