    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

     <link rel="stylesheet" href="http://ubuntuone.com/7CcSCFAincrPmWZYOnMJA9" type="text/css" media="screen" />
	<script type="text/javascript" src="http://ubuntuone.com/1CGmD4rRCsLBvL2ZzLFBgc"></script>

<h1> Actualidad </h1>
<br>
<p1> 
Los fabricantes chinos siguen animando el mercado Android incluso por encima de los gigantes de la industria, y el último en moverse de cara a este final de 2016 ha sido Meizu, que hoy mismo día 30 de noviembre debería presentar su nueva interfaz Flyme 6 para sus smartphones Android.
<br>
Muchos esperaban también nuevos smartphones de Meizu en la presentación, pero lo cierto es que no tenemos ningún rumor ni filtración al respecto, cosa que nos hace sospechar. Lo que sí ha trascendido, como suele suceder en vísperas de presentación importante, es que el fabricante chino ya está preparando su nuevo buque insignia.
<br>
Todos los fabricantes suelen seguir la misma estrategia, presentando los smartphones abanderados de sus catálogos a principios de año y dejando el último trimestre para renovaciones menores. Meizu no será la excepción, así que de momento hemos de conformarnos con un Meizu MX6 bien preparado, potenciado por MediaTek y que será la estrella de la firma china para la campaña navideña. </p1>

<br>
<br>

<p2> 
Históricamente, Meizu se ha movido entre Samsung y MediaTek como proveedores de chipsets, aunque en los últimos tiempos, la colaboración entre taiwaneses y chinos ha sido más estrecha que nunca.

Del dispositivo no conocemos todavía nada, tan sólo que llegará en los primeros meses de 2017, pero sí podemos anticiparos las capacidades de los Helio X30 y X35, que fabricados con un proceso de producción de 10 nm contarán con un procesador en configuración tri-cluster de hasta 10 núcleos. </p2>
<br>

<br>
<br>

 <center><img src="/imagenes/actual.jpg" alt="Actual face" height="300" width="450" align="center"></center>




<br>
<%= link_to 'Regresar', root_path %>