  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="http://ubuntuone.com/7CcSCFAincrPmWZYOnMJA9" type="text/css" media="screen" />
	<script type="text/javascript" src="http://ubuntuone.com/1CGmD4rRCsLBvL2ZzLFBgc"></script>


<h3>Interfaz y Notificaciones</h3>
<br>
<b>
<p1>

Las líneas planas, limpias y minimalistas de iOS 8 le deben bastante a iOS 7, cuando Apple arrastró a su sistema operativo a la edad moderna. Por otro lado, el colorido diseño del Material Design de Google, presentado con Android 5.0, quiere unificar la experiencia entre todas tus aplicaciones, para así ayudarte a usarlas de forma más rápida y natural, guiando a tus ojos.</p1>
<p2>

Pero ambas son bastante diferentes. Si te has acostumbrado a usar una de ellas puede que sencillamente no te intereses por la otra. Mientras que Apple apuesta por un diseño mucho más refinado, Google busca impactar más. Ambas tienen diseños preciosos, a su manera. <p2>
<br>
<br>

<h3>Aplicaciones y Ecosistema</h3>

<p1>Tanto Apple como Google ofrecen un sólido conjunto de aplicaciones nativas en sus plataformas, aunque claro, las aplicaciones de Google también están disponibles para iOS (YouTube, Gmail, etc...) mientras que Apple ignora a Android por completo en este aspecto. Hangouts, por ejemplo, es una muy buena aplicación que Google ha desarrollado para que funcione prácticamente en cualquier plataforma, mientras iMessage y Facetime están limitadas, pero también funcionan mejor y están mucho más pulidas.</p1>
<br>
<br>

<h3>Estabilidad, Seguridad, Rendimiento</h3>
<p1>

Touch ID ha sido algo muy bueno para iOS, dado que ha mejorado muchísimo la experiencia de desbloquear el teléfono o verificar una compra. Los muchos fabricantes de Android están intentando imitarlo, sin mucho éxito. Samsung es el único fabricante en haber incluido tecnología para captar huellas dactilares en dispositivos Android de buena calidad.</p1>
<br>
<br>

<h3>Más allá del sistema operativo móvil</h3>
<p1>

Hay muchos extras para elegir: Apple Health Vs Google Fit, Apple Pay Vs Google Wallet, Android Auto Vs CarPlay. Para tratar de terminar esta parte antes de que lleguen iOS 9 o Android 6, tenemos que limitarnos de alguna manera.</p1>

<p2>

Música y películas parece una buena área en la que centrarnos. Android no tiene el mismo tipo de sistema de gestión para equipos de escritorio que Apple tiene con iTunes. Los usuarios de Android siempre pueden recurrir a Play Music o Play Movies, y aunque ambas están mejorando mucho, no ofrecen el mismo grado de control de contenidos que ofrece iTunes.</p2>
<br>
<br>

<!--<div class="flex-container"> 
<div class="flexslider"> 
<ul class="slides"> 
	
		<li><img class ="" alt "" src="/imagenes/9.jpg" /></li>
		<li><img class ="" alt "" src="/imagenes/10.jpg" /></li>
		<li><img class ="" alt "" src="/imagenes/1.jpg" /></li>
	</ul>
</div>
</div>

<link rel="stylesheet" href="css/flexslider.css">
<script type= "text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"> </script>

<script type="text/javascript" src="js/jquery.flexslider-min.js"></script>
<script type="text/javascript" charset="utf-8">
	$(window).load(function() {
		$('.flexslider').flexslider ({
			controlsContainer: '.flex-container'
		});
	});
</script> -->

<center>
<div  id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="/imagenes/9.jpg" alt="...">
      <div class="carousel-caption">
        ...
      </div>
    </div>

    <div class="item">
      <img src="/imagenes/10.jpg" alt="...">
      <div class="carousel-caption">
        ...
      </div>
    </div>

    <div class="item">
      <img src="/imagenes/11.jpg" alt="...">
      <div class="carousel-caption">
        ...
      </div>
    </div>

    ...
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Siguiente</span>
  </a>
</div>
</center>
<br>
<br>
<%= render 'utilidades/comentario' %>