<div class="jumbotron">
  <h1>Gracias por leernos!!</h1>
  <p>Aquí están las páginas oficiales de estas dos grandes plataformas móviles, adémas están anexadas algunas otras de interés general donde podrás encontrar mucha mas información.</p>
  
</div>

<!--<h4> Android </h4>

<div class="list-group">
  <a href="https://www.android.com/" class="list-group-item active">
    Página oficial de Android
  </a>
  <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
  <a href="#" class="list-group-item">Morbi leo risus</a>
  <a href="#" class="list-group-item">Porta ac consectetur ac</a>
  <a href="#" class="list-group-item">Vestibulum at eros</a>
</div>

<br>
<h4> iOS </h4>

<div class="list-group">
  <a href="https://www.android.com/" class="list-group-item active">
    Página oficial de iOS
  </a>
  <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
  <a href="#" class="list-group-item">Morbi leo risus</a>
  <a href="#" class="list-group-item">Porta ac consectetur ac</a>
  <a href="#" class="list-group-item">Vestibulum at eros</a>
</div> -->


<div class="row">
<center>

<div class="col-sm-6 col-md-4">

<h4> Android </h4>
<ul class="list-group">
  <li class="list-group-item list-group-item active"><a href="https://www.android.com/">Página oficial</li></a>

  <li class="list-group-item list-group-item"><a href="https://play.google.com/store?hl=es">Aplicaciones moviles</li></a>

  <li class="list-group-item list-group-item"><a href="http://androidayuda.com/category/tutoriales/">Tutoriales</li></a>

  <li class="list-group-item list-group-item"><a href="https://www.geektopia.es/es/technology/2013/07/13/noticias/los-cinco-mejores-smartphones-android-del-momento.html">La mejor telefonía</li></a>
</ul>
</div>
</center>
<center>

<div class="col-sm-6 col-md-4">

<h4> iOS </h4>
<ul class="list-group">
  <li class="list-group-item list-group-item active"><a href="http://www.apple.com/mx/ios/ios-10/">Página oficial</li></a>

  <li class="list-group-item list-group-item"><a href="https://itunes.apple.com/mx/genre/ios/id36?mt=8">Aplicaciones moviles</li></a>

  <li class="list-group-item list-group-item"><a href="http://www.actualidadiphone.com/category/tutoriales-y-manuales/">Tutoriales</li></a>

  <li class="list-group-item list-group-item"><a href="http://www.applesfera.com/ios/estos-son-los-iphone-y-ipad-compatibles-con-ios-10">La mejor telefonía</li></a>
</ul>
</div>
</center>

<!--<h4> iOS </h4>
  <div class="col-sm-6 col-md-4">
<div class="list-group">
  <a href="http://www.apple.com/mx/ios/ios-10/" class="list-group-item list-group-item">Página oficial</a>

  <a href="https://itunes.apple.com/mx/genre/ios/id36?mt=8" class="list-group-item list-group-item">Aplicaciones móviles</a>

  <a href="http://www.actualidadiphone.com/category/tutoriales-y-manuales/" class="list-group-item list-group-item">Tutoriales</a>

  <a href="http://www.applesfera.com/ios/estos-son-los-iphone-y-ipad-compatibles-con-ios-10" class="list-group-item list-group-item">Telefonía</a>
</div>
</div>-->

</center>
</div>

