<!--<%= link_to "[ Iniciar Sesión ]", new_user_session_path %>-->


<% if user_signed_in? %>
  <li><%= link_to "[ Cerrar Sesión ]", destroy_user_session_path, 
method: :delete %></li>
<% else %>
  <li><%= link_to "[ Iniciar Sesión ]", new_user_session_path %></li>
<% end %>




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<div class= "container">
	<div class= "row" >
		<div class="col-md-12">
			<!-- Parte arriba -->
			<div class ="row">
				<div class="col-md-2">
					<div class="picture"></div>
				</div>
				<div class="col-md-2">
					<div class="picture"></div>
				</div>
				<div class="col-md-2">
					<div class="picture"></div>
				</div>
				<div class="col-md-2">
					<div class="picture"></div>
				</div>
				<!--<div class="col-md-2">
					<div class="picture"></div>
				</div> -->
<div class="col-ms-3">
<form class="navbar-form navbar-right" role="search">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Buscar">
    </div>
    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
</form>
</div>

			</div>
			<br>
			<br>
			<br>
					<!-- Parte enmedio -->
			<div class ="row">
				<div class="col-md-6">
					<div class="picture2"></div>
				</div>
				<div class="col-md-6">
					<div class="picture2"></div>		
				</div>

				</div>
				<br>
				<br>
			</div>	

			<br>
			<br>

			<!-- Parte de comentarios -->
			<div class ="row">
				<div class="col-md-6">
					<div class="picture3"></div>
				</div>
				<button type="submit" class="btn btn-primary btn-lg">Enviar</button>
				
				</div>
				<br>

			<div class ="row">
				<div class="col-md-10">
					<div class="picture4"></div>
				</div>
				</div> 


			<br>
			<br>
			</div>
		</div>
	</div>
</div>