    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<h1> Actualidad </h1>
<br>
<p1> 
La economía es una disciplina académica curiosa. En ella, los “expertos” predicen el comportamiento del mercado o de sus integrantes mediante la interpretación de unos parámetros. Así, mientras que unos analistas pueden estimar algo, otros pueden prever exactamente lo contrario.</p1>
<br>
<br>
<p1> Es lo que le está sucediendo a Apple, que mientras muchos ven en ella a un líder sólido del sector terriblemente diferenciado de la competencia, otros estiman que estos periodos de contrición en las ventas sean el principio del fin del halo de la manzana tal y como lo conocemos.</p1>
<br>
<p1>Y es que los analistas de Oppenheimer predicen tras para el décimo aniversario del lanzamiento del iPhone de Apple, habrá una década negra que hará que Apple baje de su pedestal y acabe en el barro peleándose los cuartos con los Huawei de turno. </p1>

<br>
<br>

<p2> 
Según Andrew Uerkwitz, las ventas de iPhone alcanzarán un pico durante el próximo año con el lanzamiento del esperado iPhone 8 en septiembre, logrando vender aproximadamente 245 millones de unidades durante el cuarto trimestre de 2017 y todo el año fiscal 2018. Es decir, un incremento del 9% sobre lo esperado para un 2017. </p2>
<br>

<br>
<br>


<center>
<img src="/imagenes/actual2.jpg" alt="" height="300" width="450"> </center>


<br>
<br>
<%= render 'utilidades/comentario' %>
<br>
<br>
<%= link_to 'Regresar', root_path %>