
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<h1> Caracteristicas </h1>
<br>

<h4> -Pantalla principal:</h4>
<p1>La pantalla principal (llamada «SpringBoard») es donde se ubican los iconos de las aplicaciones y el Dock en la parte inferior de la pantalla donde se pueden anclar aplicaciones de uso frecuente, aparece al desbloquear el dispositivo o presionar el botón de inicio. La pantalla tiene una barra de estado en la parte superior para mostrar datos, tales como la hora, el nivel de batería, y la intensidad de la señal. El resto de la pantalla está dedicado a la aplicación actual. </p1>
<br>
<h4>-Carpetas:</h4>
<p1>Con iOS 4 se introdujo un sistema simple de carpetas en el sistema. Se puede mover una aplicación sobre otra y se creará una carpeta, y así se pueden agregar más aplicaciones a esta mediante el mismo procedimiento. Pueden entrar hasta 12 y 20 aplicaciones en el iPhone y iPad respectivamente. El título de la carpeta es seleccionado automáticamente por el tipo de aplicaciones dentro de ella, pero puede ser editado por el usuario. </p1>
<br>
<h4> Seguridad:</h4>
<p1>Antes de la salida de iOS 7 al mercado, existía un enorme índice de robos de los diversos modelos de iPhone, lo que provocó que el gobierno estadounidense solicitara a Apple diseñar un sistema de seguridad infalible que inutilizara los equipos en caso de robo. Fue creada entonces la activación por iCloud, la cual solicita los datos de acceso de la cuenta del usuario original, lo que permite bloquear e inutilizar el equipo al perderlo o ser víctima de robo del mismo. </p1>
<br>
<h4>Centro de notificaciones: </h4>
<p1>Con la actualización iOS 5, el sistema de notificaciones se rediseñó por completo. Las notificaciones ahora se colocan en un área por la cual se puede acceder mediante un deslice desde la barra de estado hacia abajo. Al hacer un toque en una notificación el sistema abre la aplicación. La pantalla inicial de iOS contiene varias aplicaciones, algunas de las cuales están ocultas por defecto y pueden ser activadas por el usuario mediante la aplicación "Ajustes", por ejemplo, Nike+iPod o la app de iCloud Drive deben ser activadas desde los Ajustes. </p1>
<br>

<br>
<br>

<center><img src="/imagenes/caract2.jpg" alt="" height="280" width="450"></center>



<br>
<br>
<%= render 'utilidades/comentario' %>
<br>
<br>

<%= link_to 'Regresar', root_path %>