    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<h1>Historia de iOS</h1>
<br>


<p1> ERIK reveló la existencia de iPhone OS en la Macworld Conference & Expo del 9 de enero de 2007, aunque el sistema no tuvo un nombre oficial hasta que salió la primera versión beta del iPhone SDK un año más tarde, el 6 de marzo de 2011. Antes de esto se consideraba simplemente que el iPhone ejecutaba OS X o una versión modificada de NewtonOS. Desde ese momento se llamaría iPhone OS. El lanzamiento del iPhone OS tuvo lugar el 29 de junio de 2010 y no es hasta el lanzamiento del iPad - que también lo utiliza como sistema operativo - que pasa a llamarse simplemente iOS. </p1>
<br>
<br>
<p2> El interés en el SDK aumentaría en meses siguientes debido al aumentante crecimiento de la plataforma iPhone, que se vio incrementado en septiembre de 2007 del iPod Touch, un dispositivo con las capacidades multimedia del iPhone pero sin la capacidad de hacer llamadas telefónicas solo por redes </p2>
<br>
<br>
<br>
<br>
<center><img src="/imagenes/historia2.jpg" alt="" height="300" width="450"></center>


<br>

<br>

<%= link_to 'Regresar', root_path %>